
body{
    display: flex;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
    background-image: url(pattern-background-desktop.svg);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    font-size: 16px;
    text-align: center;
}
img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container{
    background-color: white;
    border-radius: 20px;
    height: 90vh;
    width: 450px;
}

.main-content{
    padding: 20px;
    margin: auto;
}

h2{
    text-align: center;
    color: black;
    font-weight: 900;
}

p{
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 200;
}

.sub-content{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    border-radius: 20px;
    height: 8vh;
    flex-direction: row;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
    justify-content: space-between;
}

.music{
    float: left;
    margin-left: 20px;
    margin-top: 5%;
}    

.pa{
    float: left;
    margin-left: 40px;
    margin-top: 3%;

}

.pa,strong{
    color: black;
}

.span{
    color: grey;
}
.change{
    float: left;
    margin-left: 60px;
    margin-top: 8%;
    font-weight: 600;
    padding-right: 20px;
}


button{
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 900;
    border-style: hidden;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}

.cancel{
    display: block;
    color: hsl(224, 47%, 23%);
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}